.block {
  position: relative;
  margin: 0;
  border: 1px solid var(--ds-grey-100);
  border-radius: var(--ds-radius-200);
}

.language {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 3px 6px;
  color: var(--ds-grey-800);
  font-size: 14px;
  line-height: 1;
  background-color: var(--ds-grey-000);
  border: 1px solid var(--ds-grey-100);
  border-radius: var(--ds-radius-100);
}

.hideLanguage :global(pre.shiki) {
  padding: 15px;
}
