.content {
  flex: 1 1 100%;
  padding: 5px 20px 10px;
  font-size: 14px;
  line-height: 1.75;
  transition: background-color 160ms var(--ds-transition-easing);
  resize: none;
  overflow-wrap: break-word;
  overflow: hidden;
  border: 0;
}

[data-maximized="true"] .content {
  padding: 10px;
}

@media (min-width: 720px) {
  [data-maximized="true"] .content {
    padding: 10px min(420px, calc((100vw - 700px) / 2));
  }
}

.content:not(:focus):hover {
  background-color: var(--ds-grey-200);
}
