.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px 10px 10px 15px;
  background-color: var(--ds-grey-000);
  border-bottom: 1px solid transparent;
  transition: border 160ms var(--ds-transition-easing);
}

[data-post-it]:is(:hover, :focus-within) .header:not(.minimized, .maximized) {
  border-bottom: 1px solid var(--ds-grey-300);
}

.minimized {
  margin-top: 4px;
  border-bottom: 1px solid transparent;
}

.maximized {
  position: static;
  padding-left: min(350px, 20%);
}

.title {
  flex: 1 1 75px;
  width: 75px;
  padding: 2px 4px;
  font-size: 16px;
  border-radius: var(--ds-radius-100);
  transition: background-color 160ms var(--ds-transition-easing);
}

.title:not(:focus):hover {
  background-color: var(--ds-grey-200);
}

:is(.minimize, .maximize, .remove) {
  opacity: 0;
  pointer-events: none;
  transition: opacity 160ms var(--ds-transition-easing);
}

.pastDate {
  color: var(--ds-red-400);
}

[data-post-it]:is(:hover, :focus-within)
  .header:not(.maximized)
  :is(.minimize, .maximize, .remove),
[data-post-it]:has([aria-expanded="true"]) :is(.minimize, .maximize, .remove),
.maximized:hover :is(.minimize, .maximize, .remove) {
  opacity: 100%;
  pointer-events: auto;
}

.removePopover {
  min-width: auto;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 10px;
}
