.dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid var(--ds-grey-100, #f8f8f8);
}

.header {
  padding: 10px;
}

@media (min-width: 720px) {
  .header {
    padding: 10px calc((100vw - 700px) / 2);
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.download {
  display: inline-flex;
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media (min-width: 720px) {
  .content {
    padding: 10px calc((100vw - 700px) / 2);
  }
}

.content h1 {
  font-size: 2rem;
}

.content h2 {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.content h3 {
  font-size: 1.3rem;
  margin-top: 3rem;
}

.content h4 {
  font-size: 1.12rem;
}

.content h5 {
  font-size: 1rem;
}

.content h6 {
  font-size: 0.7rem;
}

.content p {
  margin: 1.3rem 0;
}

.content :is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

.content :is(*):first-child {
  margin-top: 0;
}

.content :is(*):last-child {
  margin-bottom: 0;
}

.content :is(h1, h2, h3) {
  line-height: 1.1;
  font-weight: 700;
}

.content :is(ul, ol) {
  margin: 1.3rem 0;
  padding-left: 1.2rem;
  list-style: unset;
}

.content :is(b, strong) {
  font-weight: 700;
}

.content :is(i, em) {
  font-style: italic;
}

.content a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.content pre {
  margin-top: 0;
  background-color: var(--ds-grey-000);
  border-radius: var(--ds-radius-200);
  overflow-x: auto;
}

.content pre code {
  font-family: var(--content-font);
  white-space: pre-wrap;
}
