.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  z-index: 2;
}

.searchContainer {
  position: absolute;
  top: 100%;
}

@media (min-width: 935px) {
  .searchContainer {
    top: unset;
    left: 80px;
  }
}

.search input {
  padding-right: 45px;
  font-family: var(--content-font);
}

.searchShortcut {
  position: absolute;
  top: 8px;
  right: 8px;
}

.addButton {
  position: relative;
  margin: 0 auto;
}

.bottomAddButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
