.container {
  width: fit-content;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.field {
  width: fit-content;
}

.field > label {
  flex-direction: row;
}

.field select {
  user-select: none;
}
