.container {
  width: fit-content;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.theme {
  width: fit-content;
}

.theme > label {
  flex-direction: row;
}

.theme select {
  user-select: none;
}
